  </div>
 <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="js/bootstrap-dropdown.js"></script>
<script>
$('.dropdown-toggle').dropdown()

</script>
<!--
<script src="{{base_url}}js/bootstrap-dropdown.js"></script>
<script src="{{base_url}}js/bootstrap-tab.js"></script>-->
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-tab.js"></script>
 <script>
  $('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
  </body>
</html>