 <div class="span3 well sidebar-nav-fixed" style="position:fixed">
 <div id="me">
 <img src="https://github.com/kalburgimanjunath/tu/blob/gh-pages/images/manjunath-kalburgi.jpg" width="200" height="200" class="img-circle"/>
 </div>
 <div id="aboutme">
 <h3><a href="{{base_url}}">Manjunath Kalburgi</a></h3>
 <p>Developer & Designer</p>
 <p>
 Catch my code on <a href="http://github.com/kalburgimanjunath">GitHub</a>, talk to me on <a href="https://twitter.com/manjumk">Twitter</a>, or talk more on <a href="http://kalburgimanjunath@skype">Skype</a> or <a href="mailto:kalburgimanjunath@gmail.com">Email</a>.
 </p>
 </div>
 </div>
 
