---
layout: projects
comments: true
---

{% include header.html %}


  <div class="span3">
    <div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </p>
  {% else %}
    <p class="previous disabled">
      <span>Previous</span>
    </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
    <p class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </p>
  {% else %}
    <p class="next disabled">
      <span>Next</span>
    </p>
  {% endif %}

</div>
  </div>
  <div class="span9">
	
	  
	<a href="{{page.url}}/tu"><h3>{{page.title}}<span>  {{ page.date | date: "%d %B %Y" }}</span></h3></a>
	 <ul class="posts">
	    {% for post in site.posts %}
	      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="/tu{{ post.url }}">{{ post.title }}</a></li>
	      <p>{{ post.excerpt }}</p>
	    {% endfor %}
	  </ul>
	  

	<p class="tweet-link">Tweet: <a href="https://twitter.com/intent/tweet?text={{page.title}}&amp;url=http://kalburgimanjunath.github.io/tu/{{page.url}}&amp;via=manjunathmk" target="_BLANK">{{page.url}}</a></p>

	<div>
	{{ content }}
	<img src="/{{ page.image }}" />
	</div>
	
	
	
	<ul>
		{% if page.older %}
		<li class="pagination older"><a href="{{page.older.url}}">Previous</a></li>
		{% endif %}
		{% if page.newer %}
		<li class="pagination newer"><a href="{{page.newer.url}}">Next</a></li>
		{% endif %}
	</ul>

	{% if page.comments %}
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'manjumk'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	    
	{% endif %}
  </div>
  
{% include footer.html %}

